*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h3{
    text-align: center;
    margin-top: 10px;
}
.navbar a{
    font-weight: bold;
}
.navbar a:hover{
    color:blue;
}
h3:hover{
    transform: scale(1.1);
}
.table-container{
    margin: 20px 20px;
    justify-content: center;

}
